<html lang="en">
  <!-- partials -->
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- partials -->
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      OOPS, page not found
    </div>
    <!-- partials -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
