<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- partials -->
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>All blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero odio
        repellat alias aperiam! Ullam quae deserunt accusantium quas? Blanditiis
        error cumque ipsum aperiam in eligendi inventore aspernatur eius aliquam
        esse.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero odio
        repellat alias aperiam! Ullam quae deserunt accusantium quas? Blanditiis
        error cumque ipsum aperiam in eligendi inventore aspernatur eius aliquam
        esse.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero odio
        repellat alias aperiam! Ullam quae deserunt accusantium quas? Blanditiis
        error cumque ipsum aperiam in eligendi inventore aspernatur eius aliquam
        esse.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero odio
        repellat alias aperiam! Ullam quae deserunt accusantium quas? Blanditiis
        error cumque ipsum aperiam in eligendi inventore aspernatur eius aliquam
        esse.
      </p>
    </div>
    <!-- partials -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
